{% extends 'butter/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="edit-profile">
    <ul class="edit-profile-left">
        <li class="epl-section"><a href="{% url 'edit_profile' request.user.username %}">Edit profile</a></li>
        <li class="epl-section"><a href="{% url 'password_change' %}">Change password</a></li>
    </ul>

    <div class="edit-profile-right">
        <p class="changed-password">Password has been changed !</p>
    </div>
</div>

{% endblock %}

