{% extends 'butter/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="container main-container">
    <div class="edit-profile">
        <ul class="edit-profile-left">
            <li class="epl-section"><a href="{% url 'edit_profile' request.user.username %}">Edit profile</a></li>
            <li class="epl-section edit-profile-select"><a href="">Change password</a></li>
        </ul>
        <div class="edit-profile-right">
            {% if messages %}
            <div class="notifications">
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            <div class="edit-profile-field-row">
                <div class="edit-profile-label-div">
                    {% if user.image %}
                    <img src="{{ request.user.image.url }}" class="user-icon-img50">
                    {% else %}
                    <img src="{% static 'butter/kkrn_icon_user_10.png' %}" class="user-icon-img50">
                    {% endif %}
                </div>
                <div class="edit-profile-field">
                    <h1 class="edit-profile-username">{{ user.username }}</h1>
                </div>
            </div>
            <form method="POST" class="edit-profile-form">
            {% csrf_token %}
            {% for field in form %}
                <div class="edit-profile-field-row">
                    <div class="edit-profile-label-div">
                        <p class="field-label">{{ field.label }}</p>
                    </div>
                    <div class="edit-profile-field">
                        {{ field }}
                    </div>
                </div>
                {% endfor %}
                <div class="">
                    <button type="submit" class="button-style">Update</button>
                </div>
                <a href="" class="forgot-password">Forgot password</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}

